<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio de Sesión / Registro</title>
  <link class="styles" rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <div class="page-card" style="max-width: 750px;">
    <div class="split">

      <section>
        <h2 class="section-title" style="margin-bottom: 2rem;">Inicio de Sesión</h2>
        <div class="form-group">
          <label>E-mail</label>
          <input type="email" placeholder="tu@correo.com" />
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" placeholder="••••••••" />
        </div>
        <div class="mt-3 login-btn-container">
          <button class="btn btn-primary">Iniciar Sesión</button>
        </div>
      </section>

      <section>
        <h2 class="section-title" style="margin-bottom: 2rem;">Registro</h2>
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" placeholder="Tu nombre" />
        </div>
        <div class="form-group">
          <label>E-mail</label>
          <input type="email" placeholder="tu@correo.com" />
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" placeholder="••••••••" />
        </div>
        <div class="form-group">
          <label>Conf. Contraseña</label>
          <input type="password" placeholder="••••••••" />
        </div>
        <div class="mt-3 text-right">
          <button class="btn btn-primary">Registrar</button>
        </div>
      </section>

    </div>
  </div>
</body>
</html>